/*@import url(https://fonts.googleapis.com/css?family=Raleway);*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&amp;display=swap');

/*-----------------------------------------------------*/
/*-----------------------GLOBAL------------------------*/
body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 1.1em;
    font-weight: bolder;
    color: black;
}

h2{
    font-size: 1em;
    font-weight: bolder;
    color: black;
}

.goto{
    font-size: 0.9em;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

ul{
    font-size: 0.9em;
    color: black;
}

/*-----------------------------------------------------*/
/*-----------------------HEADER------------------------*/
header{
    width: 90%;
    height: 70px;
}

#desktop_header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobil_header{
    display: none;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-left: 50px;
}

#top_menu_desktop a{
    color: black;
    padding-top: 32px;
    text-decoration: none;
}

nav strong{
    color: #0065FC;
    font-weight:bold;
}

#top_menu_desktop a:hover{
    color: #0065FC;
    border-top: 10px solid #0065FC;
}


/*-----------------------------------------------------*/
/*--------------------HEBERGEMENTS---------------------*/
#bloc_rents{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    height: 650px;
    width: 90%;
    margin-bottom: 20px;
}

#section_rents{
    width: 65%;
    margin-right: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aside_rents_pop{
    width: 22%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container_rents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 80%;
}

#container_rents_pop{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    
}

.rent{
    width: 30%;
    height: 42%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    position: relative;
    box-shadow: 0px 0px 25px -8px #000000;
}

.rent_pop{
    width: 100%;
    height: 27%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    position: relative;
    box-shadow: 0px 0px 25px -8px #000000;
}

.rating{
    display: flex;
    justify-content: space-between;
    width: 50px;
    list-style-type: none;
    padding-left: 0px;
}

.rating span{
    border-radius: 50%;
    font-size: 13px;
}

.blue-star {
    color: #0065FC;
}

.empty-star {
    color: #D2D2D2;
}

#bloc_rents p{
    font-size: 0.7em;
}

#bloc_rents p span{
    font-weight: bolder;
}

#r1{
    background: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') no-repeat center;
    background-size: cover; /* Pourquoi pas au dessus ??*/
}

#r2{
    background: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#r3{
    background: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#r4{
    background: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') no-repeat center;
    background-size: cover; 
}

#r5{
    background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#r6{
    background: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#rp1{
    background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#rp2{
    background: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#rp3{
    background: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') no-repeat center;
    background-size: cover;
}

.rent_desc{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 33%;
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rent_desc h3, .rent_desc p, .rent_desc ul{
    margin: 2px 0px 2px 10px;
}

.rent_pop_desc{
    position: absolute;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    width: 60%;
    height: 100%;
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rent_pop_desc h3, .rent_pop_desc p, .rent_pop_desc ul{
    margin: 2px 0px 2px 10px;
}

#section_rents p a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bolder;
}

/*-----------------------------------------------------*/
/*----------------------ACTIVITES----------------------*/
#section_activities{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 500px;
    width: 90%;
    margin-bottom: 20px;
}

#activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 80%;
}

.activity{
    width: 20%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 25px -8px #000000;
}

#A1{
    background: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

#A2{
    background: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 60%;
}

#A3{
    background: url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 30%;
}

#A4{
    background: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

#A5{
    background: url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 45%;
}

#A6{
    background: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 45%;
}

.activity_title{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 33px;
    background-color: white;
    color: rgb(0, 0, 0);
}

.activity_title h3{
    margin-left: 10px;
}

/*--------------------------------------------------*/
/*----------------------FOOTER----------------------*/
footer{
    width: 100%;
    height: 150px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

#bloc_footer{
    width: 90%;
    display: flex;
}
footer ul{
    list-style-type: none;
    padding-left: 0px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer li{
    margin: 15px 0 15px 0;
}

#container_about{
    width: 33%;
}

#container_our_rents{
    width: 33%;
}

#container_assistance{
    width: 33%;
}

/*--------------------------------------------------*/
/*---------------FIND-&-FILTERS-&-INFO--------------*/
#section_find_and_filters{
    width: 90%;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------*/
/*-----------------------FIND-----------------------*/
#container_find h1{
    margin-bottom: -10px;
}

#container_find p{
    margin-bottom: 20px;
    font-size: 0.9em;
}

#form_research{
    background-color: #F2F2F2;
    border-radius: 15px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
}

#form_research span{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_research{
    height: 95%;
    width: 55%;
    border-style: none;
    padding: 0 15px 0 15px;
}

#text_research::placeholder{
    color: black;
    font-weight: bolder;
    font-size: 1.1em;
}

#button_research{
    width: 30%;
    height: 100%;
    background-color: #0065FC;
    border-color:#0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bolder;
}

#button_research_mobil{
    display: none;
}

/*--------------------------------------------------*/
/*----------------------FILTRES---------------------*/
#container_filters{
    display: flex;
    height: 100px;
    align-items: center;
}

#container_choices{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#container_choices span{
    color: #0065FC;
    border-radius: 50%;
    padding: 10px;
    background-color: #DEEBFF;
}

#container_choices li{
    border: 2px #F2F2F2 solid;
    border-radius: 30px / 30px;
    border-left: none;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#container_choices a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 1em;
    padding: 15px 15px 15px 10px;
}

#container_choices li:hover{
    background-color: #DEEBFF;
}

/*--------------------------------------------------*/
/*------------------------INFO----------------------*/
#container_info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#container_info p{
    margin-left: 15px;
    font-size: 0.9em;
}

#container_info span{
    color: #0065FC;
    font-size: 12px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    padding: 3px 8px 3px 8px;
}


/*------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------RESPONSIVE------------------------------------------------------------------------------------------------*/
@media all and (max-device-width: 480px)
{
    /*-----------------------------------------------------*/
    /*-----------------------GLOBAL------------------------*/
    h1{
        font-size: 3em;
        font-weight: bolder;
        color: black;
    }
    
    h2{
        font-size: 2.5em;
        font-weight: bolder;
        color: black;
    }
    
    .goto{
        font-size: 2.5em;
        font-weight: bolder;
        color: black;
        text-decoration: none;
    }
    
    ul{
        font-size: 2em;
        color: black;
    }

    /*-----------------------------------------------------*/
    /*-----------------------HEADER------------------------*/
    header{
        width: 100%;
        height: 300px;
    }

    #desktop_header{
        display: none;
    }

    #mobil_header{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    #top_menu_mobil{
        height: 75px;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px 0px 30px;
    }

    #top_menu_mobil li{
        margin: 0;
    }

    #mobil_header img{
        width: 200px;
    }

    #bottom_menu{
        height: 75px;
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    #bottom_menu li{
        width: 50%;
        margin: 0;
    }

    #top_menu_mobil a, #bottom_menu a{
        width: 100%;
        display: flex;
        justify-content: center;
        color: black;
        text-decoration: none;
    }

    #bottom_menu a{
        padding-bottom: 30px;
        border-bottom: 5px solid #F2F2F2;
    }

    #bottom_menu a:hover{
        padding-bottom: 30px;
        color: #0065FC;
        border-bottom: 5px solid #0065FC;
    }

    nav strong{
        color: #0065FC;
        font-weight:bold;
    }
    /*--------------------------------------------------*/
    /*---------------FIND-&-FILTERS-&-INFO--------------*/
    #section_find_and_filters{
        width: 90%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #container_find{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #container_find h1{
        margin-bottom: -10px;
        font-size: 3em;
    }
    
    #container_find p{
        margin-bottom: 75px;
        font-size: 2em;
        width: 100%;
    }
    
    #form_research{
        background-color: #F2F2F2;
        border-radius: 30px;
        border-style: solid;
        border-color: #F2F2F2;
        border-width: 1px;
        width: 90%;
        height: 100px;
        display: flex;
        align-items: center;
    }
    
    #form_research span{
        width: 15%;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #text_research{
        height: 95%;
        font-size: 1.8em;
        width: 65%;
        border-style: none;
        padding: 0 15px 0 15px;
    }
    
    #text_research::placeholder{
        color: black;
        font-weight: bolder;
    }
    
    #button_research{
        display: none;
    }

    #button_research_mobil{
        width: 15%;
        height: 100%;
        font-size: 40px;
        background-color: #0065FC;
        border-color:#0065FC;
        border-radius: 30px;
        color: white;
    }

    #container_filters{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        height: auto;
    }
    #container_choices{
        padding: 0;
    }

    #container_choices span{
        color: #0065FC;
        border-radius: 50%;
        padding: 30px;
        font-size: 40px;
        background-color: #DEEBFF;
    }
    
    #container_choices li{
        border: 5px #F2F2F2 solid;
        border-radius: 60px / 60px;
        border-left: none;
        margin-right: 25px;
        margin-bottom: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    #container_choices a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
        font-size: 1.3em;
        padding: 30px 40px 30px 20px;
    }
    
    #container_choices li:hover{
        background-color: #DEEBFF;
    }

    #container_info{
        display: flex;
        align-items: center;
    }
    
    #container_info p{
        font-size: 2em;
    }
    
    #container_info span{
        color: #0065FC;
        font-size: 30px;
        border: 5px #F2F2F2 solid;
        border-radius: 50%;
        padding: 10px 20px 10px 20px;
    }

    /*-----------------------------------------------------*/
    /*--------------------HEBERGEMENTS---------------------*/
    #bloc_rents{
        display: flex;
        flex-direction: column-reverse;
        height: 6000px;
        width: 100%;
        margin-bottom: 20px;
    }

    #aside_rents_pop{
        width: 100%;
        height: 25%;
        background-color: #F2F2F2;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .rent_pop{
        width: 96%;
        height: 27%;
        border-radius: 60px;
        border-style: solid;
        border-color: white;
        border-width: 15px;
        position: relative;
        box-shadow: 0px 0px 25px -8px #000000;
    }
    
    .rating{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0px;
    }
    
    .rating span{
        border-radius: 50%;
        font-size: 30px;
    }

    .rent_pop_desc{
        border-radius: 0px 40px 40px 0px;
        height: 100%;
    }
    
    .rent_pop_desc h3, .rent_pop_desc p, .rent_pop_desc ul{
        margin: 30px 0px 30px 30px;
    }
    
    #bloc_rents p{
        font-size: 2.2em;
    }

    #section_rents{
        width: 100%;
        height: 75%;
        margin-right: 0;
        background-color:white;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #container_rents{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        height: 95%;
    }
    .rent{
        width: 90%;
        height: 15%;
        border-radius: 50px;
        border-style: solid;
        border-color: white;
        border-width: 10px;
        position: relative;
        box-shadow: 0px 0px 25px -8px #000000;
    }

    .rent_desc h3, .rent_desc p, .rent_desc ul{
        margin: 2px 0px 2px 50px;
    }
    /*-----------------------------------------------------*/
    /*----------------------ACTIVITES----------------------*/
    #section_activities{
        height: 3500px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #activities{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        height: 95%;
    }
    
    .activity{
        width: 90%;
        border-radius: 40px;
    }

    #A1, #A2, #A2, #A3, #A4, #A5, #A6{
        height: 15%;
    }

    .activity_title{
        bottom: 0;
        border-radius: 0px 0px 40px 40px;
        height: 150px;
    }
    
    .activity_title h3{
        margin-left: 50px;
    }

    /*--------------------------------------------------*/
    /*----------------------FOOTER----------------------*/
    footer{
        width: 100%;
        height: 1000px;
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
    }

    #bloc_footer{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 50px;
    }
    footer ul{
        list-style-type: none;
        padding-left: 0px;
    }

    footer a{
        text-decoration: none;
        color: black;
    }

    footer li{
        margin: 25px 0 25px 0;
    }

    #container_about, #container_our_rents,  #container_assistance{
        width: 100%;
    }
}