/*@import url(https://fonts.googleapis.com/css?family=Raleway);*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&amp;display=swap');

/*-----------------------------------------------------*/
/*-----------------------GLOBAL------------------------*/
body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 1.1em;
    font-weight: bolder;
    color: black;
}

h2{
    font-size: 1em;
    font-weight: bolder;
    color: black;
}

.goto{
    font-size: 0.9em;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

ul{
    font-size: 0.9em;
    color: black;
}

/*-----------------------------------------------------*/
/*-----------------------HEADER------------------------*/
header{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-left: 50px;
}

nav a{
    color: black;
    padding-top: 32px;
    text-decoration: none;
}

nav strong{
    color: #0065FC;
    font-weight:bold;
}

nav a:hover{
    color: #0065FC;
    border-top: 10px solid #0065FC;
}


/*-----------------------------------------------------*/
/*--------------------HEBERGEMENTS---------------------*/
#bloc_rents{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    height: 650px;
    width: 90%;
    margin-bottom: 20px;
}

#section_rents{
    width: 65%;
    margin-right: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aside_rents_pop{
    width: 22%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container_rents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 80%;
}

#container_rents_pop{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    
}

.rent{
    width: 30%;
    height: 42%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    position: relative;
    box-shadow: 0px 0px 25px -8px #000000;
}

.rent_pop{
    width: 100%;
    height: 27%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    position: relative;
    box-shadow: 0px 0px 25px -8px #000000;
}

.rating{
    display: flex;
    justify-content: space-between;
    width: 50px;
    list-style-type: none;
    padding-left: 0px;
}

.rating span{
    border-radius: 50%;
    font-size: 13px;
}

.blue-star {
    color: #0065FC;
}

.empty-star {
    color: #D2D2D2;
}

#bloc_rents p{
    font-size: 0.7em;
}

#bloc_rents p span{
    font-weight: bolder;
}

#r1{
    background: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') no-repeat center;
    background-size: cover; /* Pourquoi pas au dessus ??*/
}

#r2{
    background: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#r3{
    background: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#r4{
    background: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') no-repeat center;
    background-size: cover; 
}

#r5{
    background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#r6{
    background: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#rp1{
    background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#rp2{
    background: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') no-repeat center;
    background-size: cover;
}

#rp3{
    background: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') no-repeat center;
    background-size: cover;
}

.rent_desc{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 33%;
    background-color: white;
    color: rgb(0, 0, 0);
}

.rent_desc h3, .rent_desc p, .rent_desc ul{
    margin: 2px 0px 2px 10px;
}

.rent_pop_desc{
    position: absolute;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    width: 60%;
    height: 100%;
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rent_pop_desc h3, .rent_pop_desc p, .rent_pop_desc ul{
    margin: 2px 0px 2px 10px;
}

#section_rents p a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bolder;
}

/*-----------------------------------------------------*/
/*----------------------ACTIVITES----------------------*/
#section_activities{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 500px;
    width: 90%;
    margin-bottom: 20px;
}

#activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 80%;
}

.activity{
    width: 20%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 25px -8px #000000;
}

#A1{
    background: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

#A2{
    background: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 60%;
}

#A3{
    background: url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 30%;
}

#A4{
    background: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

#A5{
    background: url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 45%;
}

#A6{
    background: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 45%;
}

.activity_title{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 33px;
    background-color: white;
    color: rgb(0, 0, 0);
}

.activity_title h3{
    margin-left: 10px;
}

/*--------------------------------------------------*/
/*----------------------FOOTER----------------------*/
footer{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

#bloc_footer{
    width: 90%;
    display: flex;
}
footer ul{
    list-style-type: none;
    padding-left: 0px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer li{
    margin: 15px 0 15px 0;
}

#container_about{
    width: 33%;
}

#container_our_rents{
    width: 33%;
}

#container_assistance{
    width: 33%;
}

/*--------------------------------------------------*/
/*---------------FIND-&-FILTERS-&-INFO--------------*/
#section_find_and_filters{
    width: 90%;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------*/
/*----------------------FIND---------------------*/
#container_find{
    height: 130px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#container_find h1{
    margin-bottom: -10px;
}

#container_find p{
    margin-bottom: 20px;
    font-size: 0.9em;
}

#form_research{
    background-color: #F2F2F2;
    border-radius: 15px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
}

#form_research span{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_research{
    height: 95%;
    width: 55%;
    border-style: none;
    padding: 0 15px 0 15px;
}

#text_research::placeholder{
    color: black;
    font-weight: bolder;
    font-size: 1.1em;
}

#button_research{
    width: 30%;
    height: 100%;
    background-color: #0065FC;
    border-color:#0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bolder;
}

/*--------------------------------------------------*/
/*----------------------FILTRES---------------------*/
#container_filters{
    display: flex;
    height: 100px;
    align-items: center;
}

#container_choices{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#container_choices span{
    color: #0065FC;
    border-radius: 50%;
    padding: 10px;
    background-color: #DEEBFF;
}

#container_choices li{
    border: 2px #F2F2F2 solid;
    border-radius: 30px / 30px;
    border-left: none;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#container_choices a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 1em;
    padding: 15px 15px 15px 10px;
}

#container_choices li:hover{
    background-color: #DEEBFF;
}

/*--------------------------------------------------*/
/*------------------------INFO----------------------*/
#container_info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#container_info p{
    margin-left: 15px;
    font-size: 0.9em;
}

#container_info span{
    color: #0065FC;
    font-size: 12px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    padding: 3px 8px 3px 8px;
}